@model  YoDo.Models.ViewModels.SearchViewModel


@{
    ViewData["Title"] = "Search";
}

<div class="card text-left">
    <div class="card-body">
        <h6 class="">Search: <span class="text-black-50">@Model.Keyword</span></h6>
    </div>
</div>

<br />
@*<ul class="list-unstyled">
        @for (int i = 0; i < 50; i++)
        {
            <li class="media mb-5">
                <img src="https://codyhouse.co/demo/squeezebox-portfolio-template/img/img.png" class="mr-3 w-50" alt="video image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
                <button type="button" class="btn btn-light "><i class="fas fa-download"></i></button>
            </li>

            <hr />
        }
    </ul>*@


<div class="row no-gutters bg-light position-relative">
    @foreach (var videoInfo in Model.VideoSearchInfos)
    {

        <div class="col-md-6 mb-md-0 p-md-4">
            <a href="https://www.youtube.com/watch?v=@videoInfo.VideoId" target="_blank" title="See video on YouTube">
                <img src="@videoInfo.ThumbnailUrl" class="w-100" alt="video image">
            </a>
        </div>
        <div class="col-md-6 position-static p-4 pl-md-0 text-left">

            <h5 class="mt-0 card-title">
                <a href="https://www.youtube.com/watch?v=@videoInfo.VideoId" target="_blank" class="text-body " title="See video on YouTube">
                    @videoInfo.Title
                </a>
            </h5>
            <a href="#" class="badge badge-light">@videoInfo.ChannelTitle</a> • <span class="badge badge-light text-black-50">@videoInfo.PublishedAt</span>
            <p>@videoInfo.Description</p>
            <button type="button" class="btn btn-light" title="Copy video ID to clipboard"><i class="fas fa-clipboard"></i></button>
            <button type="button" class="btn btn-light" title="Download video"><i class="fas fa-download"></i></button>
        </div>
        <hr />
    }

</div>


